/*class id*/
*{
	/*&background-color: lightcyan;*/

}
.intro {
	font-size: 20px;

}
	#hometown{
	color:#C66C27 ;
	background-color: white;
	border: 1px solid;
}
 .extra_i{
	background-color: aqua;
}
p{
	border: 1px dotted;
}
p.intro1{
	border: 1px dashed;
}
div,p{
	font-family: sans-serif;
}
div p{
	border:1px solid;
}
div > p{
	border: 1px solid;
}
div+p{
	border:1px solid; 
}
p ~ ul{
	background-color: beige;

}
a[target]{
	background-color: skyblue;
}
[title~="rose"]{
	border: 1px solid;
}
div[class^="test"]{
	background-color: #ffff00;
}
div[class$="test"]{
	background-color:#ffff00 ;
}